language: cpp

os:
  - linux
  - osx

compiler:
  - gcc
  - clang

addons:
  apt:
    packages:
      - libqt4-dev
      - qt4-qmake
      - libpcap-dev
      - libprotobuf-dev
      - protobuf-compiler

script:
  - qmake
  - make

